---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main>
    <section id="hero"></section>
    <section id="what-we-do"></section>
    <section id="case-study"></section>
    <section id="contact"></section>
  </main>
</Layout>
